html, body {
    display: flex;
    height: 100vh;
    margin: auto;
    background-image: url('../images/background.jpg');
}

a {
    color: #64b6ac;
}

.jumbotron {
    align-items: center;
    display: flex;
    justify-content: center;
}

.content{
    text-align: center;
}

.display-4 {
    margin-bottom: 30px;
}

.links {
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: .05rem;
    text-transform: uppercase;
}